Repository hmcts/dynatrace-activegate, pull requests merged in 2024-09, with the labels that each got.

#26 DTSPO-18501 - add vm-bootstrap module and required vars
  components/activegate/local.tf
  components/activegate/output.tf
  components/activegate/provider.tf
  components/activegate/variables.tf
  components/activegate/vm.tf
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: nonprod_dynatrace_activegate/add-or-update, prod_dynatrace_activegate/add-or-update

#27 DTSPO-18501 - set add_splunk var to false
  environments/prod/prod.tfvars
  environments/stg/stg.tfvars
Labels: nonprod_dynatrace_activegate/destroy, prod_dynatrace_activegate/destroy

#29 DTSPO-18501 - changing the version of run command
  components/activegate/variables.tf
  components/activegate/vm.tf
Labels: prod_dynatrace_activegate/no-changes, nonprod_dynatrace_activegate/add-or-update

#30 try 1.1 version
  components/activegate/variables.tf
Labels: prod_dynatrace_activegate/no-changes, nonprod_dynatrace_activegate/add-or-update

#31 DTSPO-18792 - enable xdr agents for production
  environments/prod/prod.tfvars
Labels: nonprod_dynatrace_activegate/no-changes, prod_dynatrace_activegate/add-or-update
